<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Decide.it</title>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('https://scontent.xx.fbcdn.net/hphotos-xal1/t31.0-8/12094737_10153705752735879_7020280677498110885_o.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Decide.it</h1>
                        <hr class="small">
                        <span class="subheading">Contributing to Loomio: An Open-source Journey Through a Production-level Codebase</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">

                    	<% @posts.each do |post| %>
                        <h2 class="post-title">
                            <a href=" /posts/<%= post.id%>"><%= post.title %> </a>
                        </h2>
                        <h3 class="post-subtitle">
                        <!--     <%= post.content%> -->
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#"><%= post.name%></a> <%= post.date %></p>
                  	<% end %>
                </div>
                <hr>

                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>



</body>

</html>
