<!DOCTYPE html>
<html>
<head>
      <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/index.html">Cicadas</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/home/index.html">Home</a>
                    </li>
                    <li>
                        <%= link_to 'Our Story', home_story_path %>
                    </li>
                    <li>
                        <%= link_to 'Decide.it', home_cloomio_path %>
                    </li>
              <!--       <li>
                        <%= link_to 'Posts', new_post_path %>
                    </li>  -->
                    <li>
                        <%= link_to 'Loomio Contributions', home_loomio_path %>
                    </li>
                    <li>
                        <%= link_to 'Contact Us', home_contact_path %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  <title>Decide.it Blog</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= stylesheet_link_tag 'clean-blog.min' %>
	 <!-- Bootstrap Core CSS -->
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'jquery' %>
<!--     <%= javascript_include_tag 'clean-blog.min' %>
 -->

</head>
<body>

<%= yield %>


<!-- Footer -->
<footer>
 <!-- Custom Fonts -->

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="copyright text-muted">Copyright &copy; DBCLoomioBlog 2015</p>
                        </div>
                    </div>
                </div>
            </footer>
</body>
</html>
